html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h3 {
  font-size: 0.3rem;
  margin: 0;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.card-top {
  margin: 0rem;
  padding: 0.145rem;
  font-size: 10rem;
  position: relative;
  box-sizing: border-box;
}

.header-bar{
  background-color: #13120b;
  border-bottom: 1px solid #13120b;
  color: #ffffff;
  font-size: 0.5rem;
  height: 0.9rem;
  padding: 0%;
  width: 100%;
  top: 0;
  left: 1;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-bar-right{
margin: 0.01rem;
padding: 0.01rem;
}

.container-pos {
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr
}

.card-top {
  background-color: #f7f7f7;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;

  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

.texto-sim {
  color: #696969;
  font-size: 0.7rem;
  text-align: center;
  justify-content: space-between;
  margin: 00.1rem;
}

.card-but {
  border: none;
  text-align: justify;
  margin: 0.2rem;
  text-align: center;
  justify-content: space-between;
  height: 100%;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 0.3rem;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.container-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: rgb(240, 235, 235);
  grid-template-columns: 1fr;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.container-receb-1 {
  border: none;
  text-align: center;
  margin: 0;
  padding: 0%;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #00a868;
  color: rgb(255, 255, 255);
  padding: 0rem;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  display: grid;
  grid-template-columns: 1fr;
}

.container-receb-cont {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;


}



.font-h3 {
  color: rgb(255, 255, 255);
  font-size: 0.6rem;
  text-align: center;
  margin: 0.6rem;
  margin-right: 00.2rem;
  margin-left: 0.02rem;
  padding: 0.1rem;
  gap: 0.9rem;
  padding-left : 0.1rem;
  padding-right : 0.1rem;



}

.but-pagamento {
  background-color: rgb(255, 255, 255);
  color: #00a868;
  text-align: center;
  margin: 0.3rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.6rem;
border:none;
  font-size: 0.8rem;
  width: 95%;
  height: 78%;
  padding: 0.4rem;
}

.container-separattion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.container-separattion-2 {
  width: 100%;
  text-align: center;
  justify-content: space-between;
  display: flexbox;
  flex-direction: line;
  width: 100%;

  grid-template-columns: 1fr 1fr 1fr;
}

.traco {
  width: 1px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: right;
  align-items: right;
  margin-left: 50%;
}

.container-traco {
  width: 70%;
  height: 100%;
  padding: 0.4rem;
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-price-container {
  display: flex;
  background-color: rgb(240, 235, 235);
}

.card-price {
  border: none;
  text-align: center;
  margin: 1rem;
  text-align: center;
  justify-content: space-between;
  height: 100%;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: rgb(240, 235, 235);
  grid-template-columns: 1fr;
  font-size: 2.5rem;
  width: 30%;
}

.card-price:focus {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.card-price-container{
  align-items: center;
  justify-content: center;

}

.container-img{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0%;
  margin: 0%;
}

.tela-content{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 241px;
  height: 321px;
  margin: 0;
  padding: 0;
  margin: 0%;
  background-color: rgb(240, 235, 235);
}

.tela{
  width: 100px;
  height: 100px;
}

.background-color{
  background-color: rgb(240, 235, 235);
}

.Preco{
  color: #00a84c;
  font-size: 0.9rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: rgb(240, 235, 235);
  padding: 0.3rem;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-color: none;
}



.Preco-2{
  background-color: rgb(240, 235, 235);
  border: none;
  align-items: center;
  justify-content: right;
  font-size: 2rem;
  height: 60%;
  width: 100%;
  margin: 0.3rem;
  padding: 0.6rem;
}

.Preco-2::-webkit-outer-spin-button,
.Preco-2::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Preco-2:focus {
  outline: none;
  -webkit-outer-spin-button: none;
  -webkit-inner-spin-button: none;
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  appearance: none;
  border: none;
}


.teste{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: royalblue;

}